<div class="container-fluid dialpad-container">
    <div class="settings-wrapper col-sm-6 col-md-6 col-lg-6">
        <div class="animated fadeInLeft panel d-panel">
            <div class="panel-heading">
                <h3 style="color: white;"><i class="fa fa-user"></i> Hello, {{verto.data.name}}</h3>
            </div>
            <div class="panel-body">
                <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="0" heading="Profile">
                        <div class="profile-content animated fadeIn">
                            <div class="profile-box">
                                <h4><i class="fa fa-mobile"></i> Calls this session</h4>
                                <h3>{{ storage.data.numOfCalls }}</h3>
                            </div>
                            <div class="profile-box pull-right">
                                <h4><i class="ion ion-android-contact"></i> Caller ID</h4>
                                <div class="phone-info">
                                    <p ng-show="storage.data.cid_number" style="color:white;">{{storage.data.cid_number | phoneFilter}}</p>
                                    <p ng-show="!storage.data.cid_number" style="color:white; font-size: 0.8em;">Please set a caller ID number.</p>
                                </div>
                            </div>
                            <div class="profile-box access-box">
                                <h4><i class="fa fa-lock"></i> Access Token</h4>
                                <p id="access-token">{{ storage.data.accessToken || "No Token" }}</p>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Caller ID">
                        <div class="form-wrapper animated fadeIn text-center">
                            <p class="callerid-info" style="font-weight: 600; font-size : 1.3em;"><span style="color:white;" class="fa fa-info-circle"></span> Caller ID Requirements:</p>
                            <hr>
                            <p class="phone-req">Must be owned by your account.</p>
                            <p class="phone-req">Must be Voice Enabled.</p>
                            <p class="phone-req">Number must be active.</p>
                            <div class="form-content">
                                <form name="callerId" role="form" id="callerId" novalidate>
                                    <input class="form-control" autofocus required ng-minlength="10" ng-maxlength="10" name='calleridInput' style="height:50px; text-align: center;" type="text" ng-model="user.phoneNumber" placeholder="(714)123-1234">
                                    <br>
                                    <button class="btn btn-update" ng-disabled="callerId.$invalid" ng-click="updateCallerId()">Update Caller ID</button>
                                </form>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Call History">
                        <div class="ch-content animated fadeIn">
                            <table class="table  table-hover" >
                                <thead>
                                    <th>Dialed Number</th>
                                    <th>Call Start</th>
                                    <th>Direction</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="call in callHistory | limitTo: listSize">
                                        <td>{{call[0].number}}</td>
                                        <td>{{call[0].call_start}}</td>
                                        <td>{{call[0].direction}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <div class="dialpad-wrapper col-sm-6 col-md-6 col-lg-6">
        <div class="phone">
            <form id="dialpadForm" role="form" ng-submit="call(dialpadNumber)" name="dialpadForm" novalidate>
                <div class="form-group">
                    <input name="dialpadNumber" type="text" class="form-control text-center" placeholder="8001234567" ng-model="dialpadNumber" autofocus required ng-minlength="10" ng-maxlength="10">
                </div>
                <div class="dialpad-numbers">
                    <div class="group">
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(1)">
                                <h4 class="dialpad-number">1</h4>
                                <span class="dialpad-text">./@</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(2)">
                                <h4 class="dialpad-number">2</h4>
                                <span class="dialpad-text">ABC</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(3)">
                                <h4 class="dialpad-number">3</h4>
                                <span class="dialpad-text">DEF</span>
                            </a>
                        </div>
                    </div>
                    <div class="group">
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(4)">
                                <h4 class="dialpad-number">4</h4>
                                <span class="dialpad-text">GHI</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(5)">
                                <h4 class="dialpad-number">5</h4>
                                <span class="dialpad-text">JKL</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(6)">
                                <h4 class="dialpad-number">6</h4>
                                <span class="dialpad-text">MNO</span>
                            </a>
                        </div>
                    </div>
                    <div class="group">
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(7)">
                                <h4 class="dialpad-number">7</h4>
                                <span class="dialpad-text">PQRS</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(8)">
                                <h4 class="dialpad-number">8</h4>
                                <span class="dialpad-text">TUV</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(9)">
                                <h4 class="dialpad-number">9</h4>
                                <span class="dialpad-text">WXYZ</span>
                            </a>
                        </div>
                    </div>
                    <div class="group">
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf('*')">
                                <h4 class="dialpad-number">*</h4>
                                <span class="dialpad-text">---</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(0)">
                                <h4 class="dialpad-number">0</h4>
                                <span class="dialpad-text">+</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf('#')">
                                <h4 class="dialpad-number">#</h4>
                                <span class="dialpad-text">---</span>
                            </a>
                        </div>
                    </div>
                    <div class="group text-center btn-row">
                        <button class="btn btn-call" ng-disabled="dialpadForm.$invalid" type="submit">
                            <i class="fa fa-phone"></i> CALL
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
