<div class="container-fluid dialpad-container">
    <div class="settings-wrapper col-sm-6 col-md-6 col-lg-6">
        <div class="animated fadeInLeft panel d-panel">
            <div class="panel-heading">
                <h3 style="color: white;">Hello, {{verto.data.login}}</h3>
            </div>
            <div class="panel-body">
                Content
            </div>
        </div>
    </div>
    <div class="dialpad-wrapper col-sm-6 col-md-6 col-lg-6">
        <div class="phone">
            <form id="dialpadForm" role="form" ng-submit="call(dialpadNumber)" name="dialpadForm" novalidate>
                <div class="form-group">
                    <input name="dialpadNumber" type="text" class="form-control text-center" placeholder="8001234567" ng-model="dialpadNumber" autofocus required ng-minlength="10" ng-maxlength="10">
                </div>
                <div class="dialpad-numbers">
                    <div class="group">
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(1)">
                                <h4 class="dialpad-number">1</h4>
                                <span class="dialpad-text">./@</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(2)">
                                <h4 class="dialpad-number">2</h4>
                                <span class="dialpad-text">ABC</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(3)">
                                <h4 class="dialpad-number">3</h4>
                                <span class="dialpad-text">DEF</span>
                            </a>
                        </div>
                    </div>
                    <div class="group">
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(4)">
                                <h4 class="dialpad-number">4</h4>
                                <span class="dialpad-text">GHI</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(5)">
                                <h4 class="dialpad-number">5</h4>
                                <span class="dialpad-text">JKL</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(6)">
                                <h4 class="dialpad-number">6</h4>
                                <span class="dialpad-text">MNO</span>
                            </a>
                        </div>
                    </div>
                    <div class="group">
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(7)">
                                <h4 class="dialpad-number">7</h4>
                                <span class="dialpad-text">PQRS</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(8)">
                                <h4 class="dialpad-number">8</h4>
                                <span class="dialpad-text">TUV</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(9)">
                                <h4 class="dialpad-number">9</h4>
                                <span class="dialpad-text">WXYZ</span>
                            </a>
                        </div>
                    </div>
                    <div class="group">
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf('*')">
                                <h4 class="dialpad-number">*</h4>
                                <span class="dialpad-text">---</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf(0)">
                                <h4 class="dialpad-number">0</h4>
                                <span class="dialpad-text">+</span>
                            </a>
                        </div>
                        <div class="dialpad-group">
                            <a class="btn btn-dialer" ng-click="dtmf('#')">
                                <h4 class="dialpad-number">#</h4>
                                <span class="dialpad-text">---</span>
                            </a>
                        </div>
                    </div>
                    <div class="group text-center btn-row">
                        <button class="btn btn-call" ng-disabled="dialpadForm.$invalid" type="submit">
                            <i class="fa fa-phone"></i> CALL
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
