<div class="incall-content">
    <div class="incall-mask"></div>
    <div class="animated fadeIn incall-display">
        <button class="btn btn-block btn-incall mute" tooltips tooltip-template="(un)Mute" tooltip-side="left" ng-click="muteMic(cbMuteMic)"><i class="fa fa-volume-off fa-2x"></i></button>
        <div class="incall-box">
            <p class="incall-text"><i class="fa fa-2x fa-user"></i>{{verto.data.login}}</p>
            <div class="loader-box" style="height:106px;">
                <div ng-class="{'loader incall': storage.data.calling, 'fa fa-5x fa-check-circle-o green': !storage.data.calling}"></div>
            </div>
            <p class="phonenumber">{{storage.data.called_number | phoneFilter}}</p>
        </div>
        <div class="incall-info">
            <div class="status-box">
                <p class="incall-text" ng-show="storage.data.calling">Status: <span style="color:red; font-weight: 600;">Dialing</span></p>
                <p class="incall-text" ng-show="!storage.data.calling">Status: <span style="color:green; font-weight: 600;">Bridged</span></p>
            </div>
            <div class="timer-box">
                <timer start-time="start_time" auto-start="false" interval="1000">
                    {{hhours}}:{{mminutes}}:{{sseconds}}
                </timer>
            </div>
            <div class="incall-btn">
                <button class="btn btn-block btn-incall hangup" ng-click="hangup()">Hang Up</button>
                <button class="btn btn-block btn-incall hold" ng-click="hold()">Hold Call</button>
            </div>
        </div>
    </div>
</div>-