<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 login-content animated fadeIn">
    <div class="mask"></div>
    <div class="img-wrapper text-center">
        <i class="login-logo ib fa fa-phone-square fa-lg" aria-hidden="true"></i>
        <h3 class="login-h3 ib" style="color : white;">WebRTC Client</h3>
        <hr />
    </div>

    <div class="row">
        <ul class="text-center animated fadeInUpBig plain-list">
            <li>
                Bringing the phone to the browser.
            </li>
            <li>
                Web Communications made simple.
            </li>
            <li>
                Powered by Message360.
            </li>
        </ul>
    </div>

    <div class="row animated slideInUp">
        <form id="loginForm" name="loginForm" novalidate>
            <div class="form-group">
                <span class="input-group-addon" id="identifierAddon"><i ng-class="{ 'ion ion-android-person': loginForm.identifier.$invalid, 'ion ion-android-checkmark-circle': loginForm.identifier.$valid }"></i></span>
                <div class="form-group">
                    <input type="text" ng-model="verto.data.name" class="form-control text-center white-text" placeholder="Agent ID" name="identifier" id="identifier" autocomplete="off" aria-describedby="identifierAddon" required />
                </div>
            </div>
            <div style="margin-top: 40px;"class="form-group">
                <button class="btn btn-block btn-m360" ng-disabled="loginForm.$invalid" ng-click="login()"><i class="ion ion-log-in"></i> Login</button>
            </div>
        </form>
    </div>
</div>
