<div class="banner">
    <img style="margin : auto auto;" class="img img-responsive animated fadeInLeft" alt="No Image Found" src="assets/images/m360_logo.png">
</div>
<div class="fs-banner">
    <div class="mask"></div>
    <video id="login-vid" poster muted autoplay loop>
        <source src="http://w5.message360.com/video/communicate.mp4" type="video/mp4">
        <source src="http://w5.message360.com/video/communicate.webms" type="video/webm">
        <source src="http://w5.message360.com/video/communicate.ogv" type="video/ogv">
        Your browser does not support the video tag.
    </video>
</div>

<div class="col-md-6 col-lg-6 no-pad">
    <div class="img-wrapper">
        <img class="img-responsive" alt="No Image Found" src="/assets/images/m360_icon.png">
    </div>
</div>
<div class="col-md-6 col-lg-6 no-pad">
    <h4>Hello</h4>
    <img class="img-responsive" alt="No Image Found" src="/assets/images/m360_icon.png">
</div>


    <!--<div class="loading-block">-->
        <!--<span ng-show="authenticating == true" class="loader-text">Logging in...</span>-->
        <!--<img ng-show="authenticating == true" class="loader" src="assets/svg/ring.gif" alt="oops!"/>-->
    <!--</div>-->

    <!--<div class="login-wrapper fadeInLeft">-->
        <!--<div class="login-content animated fadeInDown">-->
            <!--<br>-->
            <!--<form id="loginForm" name="loginForm" novalidate>-->
                <!--<div class="form-group">-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon" id="identifierAddon"><i ng-class="{ 'ion ion-android-person': loginForm.identifier.$invalid, 'ion ion-android-checkmark-circle': loginForm.identifier.$valid }"></i></span>-->
                        <!--<input type="text" ng-model="verto.data.login" class="form-control" placeholder="Username" name="identifier"-->
                               <!--id="identifier" autocomplete="off" aria-describedby="identifierAddon" required>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<br>-->
                <!--<div class="form-group">-->
                    <!--<button class="btn btn-block btn-m360" ng-disabled="loginForm.$invalid" ng-click="login()">-->
                        <!--<i class="ion ion-log-in"></i> Login-->
                    <!--</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
