html {
    height: 100% !important;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100% !important;
    overflow-x: hidden;
}

section {
    flex: 1 0 auto !important;
}

.mask {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.5;
    color : white;
    z-index: -1000;
}

div.panel-body {
    padding : 10px;
    margin : 0;
    min-height : 420px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100;Grey+Black+3D */
    background: #b5bdc8; /* Old browsers */
    background: -moz-linear-gradient(45deg, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.panel-heading {
    background: #28343b;
}

.profile-content {
    padding : 10px;
}

.profile-box {
    text-align: center;
    width : 180px;
    display: inline-block;
    height : 180px;
    margin : 20px auto 0;
    border: 3px solid #28343b;
}

.access-box {
    width : 100% !important;
    height : 100px;
    margin-top : 20px;
}

.profile-box > h4 {
    color : white;
    font-size: 1.21em;
    margin : 0;
    padding : 10px;
    background-color : #28343b;
}

ul.nav.nav-tabs > li {
    text-align: center;
    color : white;
    font-size: 1.2em;
    font-weight: 500;
    color : white;
    letter-spacing: 1px;
}

ul.nav.nav-tabs > li > a {
    color : inherit;
}

.videoContainer {
    position : absolute;
    height : 100%;
    width : 100%;
    overflow : hidden;
}

div.login-content {
    height : 525px;
    padding : 15px;
    margin-top : 60px;
}

video#mask-vid {
    -o-object-fit: cover;
    object-fit: cover;
    height : 100%; !important;
    width : 100%; !important;
    top: 0px;
    display : block;
    -webkit-background-size: cover;
    background-size: cover;
}

input#identifier.form-control {
    color: white;
}

a:hover,
a:focus {
    text-decoration: none;
}



.dialpad-group {
    width : 33.3333333%;
    display : inline-block;
    text-align: center;
    float:left;
}

.dialpad-text {
    font-size: 0.8em;
    font-weight : 600;
}

#loginForm {
    margin-top : 40px;
}

div.input-group {
    width : 50%;
    margin : auto auto;
}

hr {
    padding : 0;
    margin : 0;
}

div.img-wrapper {
    height : auto;
    width : auto;
    padding : 5%;
}

div.img-wrapper > i {
    font-size : 6em;
    margin-right : 10px;
}

.login-logo:before {
    color : #e82f2e;
    line-height : 100px;
    vertical-align: sub;
}

.login-h3 {
    line-height : 100px;
    letter-spacing: 1.2px;
}

div.form-mask {
    padding : 10%;
    background-color: white;
    position : relative;
    opacity: 0.7;
}

div.modal-body > form > div.form-group {
    margin-bottom : 0; !important;
}

.ib {
    display : inline-block;
}

.no-margin {
    margin : 0;
}

.btn-modal {
    margin-top : 20px;
}

.control-label {
    font-size : 16px;
}

* {
    font-family: "Lato", sans-serif;
}

.input-group-addon {
    padding: 6px 16px;
    font-size: 24px; !important;
    font-weight: normal;
    line-height: 1;
    color: #ec2c36;
    background-color: inherit;
    border: 1px solid transparent;
    border-radius: 3px;
}

.plain-list {
    list-style-type: none;
    color : white;
    padding : 0;
    letter-spacing: 1px;
}

div.container-fluid {
    padding : 0;
}

.f-height {
    height : inherit;
}

div.banner {
    position: relative;
    top : 0;
    width : 100%;
    height : 130px;
    padding : 25px 0;
    background-color : white;
}

div.load-wrapper {
    position: relative;
}

img.img-responsive {
    height : 75px;
    margin: auto auto;
}

img.loader-img {
    height : 75px;
    width : 75px;
    position: absolute;
    margin-top : 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#access-token {
    line-height:58px;
}

div.profile-box > h3 {
    margin : 0;
    line-height : 130px;
    color : white;
}

div.phone-info > p {
    margin : 0;
    line-height : 68px;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    -webkit-box-shadow : inset 0px -2px 0 #2196f3;
    box-shadow : inset 0px -2px 0 #2196f3;
    color : white;
}

.btn {
    padding : 5px 15px;
    font-size: 0.8em;
    background : white;
    border-radius : 0;
    border : 1px solid white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    outline : none;
}

div.status-block {
    float: left;
    position : absolute;
    width : 100%;
}

.status-ion {
    color : white; !important;
    font-sie : 1.1em;
}

.btn-m360 {
    border-radius: 20px;
    background : #ec2c36;
    color : #fff;
    border-color : #ec2c36;
    font-size : 1.2em;
    outline : none;
}

.btn-m360:hover {
    background : #fff;
    color : #ec2c36;
    border-color : #ec2c36;
    outline : none;
}

.btn-m360:active, .btn-m360:focus {
    background : #fff;
    color : #ec2c36;
    border-color : #ec2c36;
    outline : none !important;
}

.btn-hold {
    background : #ec2c36;
    color : #fff;
    border-color : #ec2c36;
    outline : none;
}

.btn-hold:hover {
    background : #fff;
    color : #ec2c36;
    border-color : #ec2c36;
    outline : none;
}

.btn-hold:active, .btn-hold:focus {
    background : #fff;
    color : #ec2c36;
    border-color : #ec2c36;
    outline : none !important;
}



.btn-hangup {
    background : #ec2c36;
    color : #fff;
    border-color : #ec2c36;
    outline : none;
    padding-right : 5px;
}

.btn-hangup:hover {
    background : #fff;
    color : #ec2c36;
    border-color : #ec2c36;
    outline : none;
}

.btn-hangup:active, .btn-hangup:focus {
    background : #fff;
    color : #ec2c36;
    border-color : #ec2c36;
    outline : none !important;
}

#webcam {
    width : 100%;
    height : 100%;
    object-fit: inherit;
}

#panel-middle {
    padding : 25px 25px 0 25px; !important;
}

.btn-hold,
.btn-hangup {
    height : 60px;
    width : 60px;
    border-radius : 100%;
    position: relative;
    margin-right : 20px;
    float : right;
    outline : none;
}

i.ion.special:before {
    font-size : 2em; !important;
    position: absolute;
    top:40%;
    left:50%;
    height : 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width : 10px;
    height : 10px;
    display : block;
}

i.ion-android-checkmark-circle {
    color : green;
}

p {
    margin : 0;
    padding : 0;
}

p.incall-text {
    font-size : 18px;
    font-weight : 400;
    letter-spacing: 1px;
}

.incall-text, timer {
    display: inline-block;
    line-height : 50px;
}

.wrapper {
    padding-top : 68px;
}

.incall {
    margin-top : 25vh;
    padding : 0;
}

timer > span,
.called-number {
    font-size : 18px;
    font-weight : 900;
}

div.footer-group {
    line-height : 80px;
    padding : 0 15px 0 180px;
}

div.dialpad-container {
    padding-top : 40px;
}

.settings[type="checkbox"]:checked:after {
    background-color: #ec2c36;
    border-color: #ec2c36;
}

.settings[type="checkbox"]:focus:after {
    border-color : #ec2c36;
}

.d-panel {
    color : white;
    background: #333;
    width: 440px;
    height : inherit;
    margin: auto auto;
}

#dialpadForm {
    margin: auto auto;
    background: #333;
    position: relative;
    height : auto;
    width: 300px;
}

.settings-wrapper {
    margin-top : 30px;
    padding : 0px 40px;
    height : auto;
    opacity: 0.96;
}

div.phone {
    opacity: 0.8;
    width : 380px;
    background: #4a4a4a;
    padding-top : 70px;
    padding-bottom : 70px;
    border-radius: 100px;
    margin : auto auto;
}

.dialpad-number {
    color : white;
}

#dialpadForm .btn-dialer {
    height : 78px;
    padding : 0;
    margin : 0;
    background: black;
    width: 100%;
        border: none;
    box-shadow: none;
    -webkit-box-shadow : none;
}

#dialpadForm input.form-control {
    height : 80px;
    font-size : 34px;
    background: black;
    padding : 6px;
    color : white;
    -webkit-box-shadow : inset 0px -2px 0 #28343b;
    box-shadow : inset 0px -2px 0 #28343b;
}

#dialpadForm > div.form-group {
    margin : 0;
}

.group {
    height : auto;
    width : auto;
}

.btn-call {
    margin : 0;
    min-height : 100%;
    min-width : 100%;
    line-height : 40px;
    background: #59b75c;
    border: 2px solid #59b75c;
    font-size: 1.8em;
    color : white;
    z-index: 10;
}

.btn-dialer:hover {
    border-color : #59b75c;
}

.btn-row {
    background: #59b75c;
    opacity: 1;
}

div.btn-container {
    text-align: right;
}

div.fs-banner {
    position : fixed;
    top : 0;
    right : 0;
    bottom : 0;
    left : 0;
    overflow: hidden;
    z-index: -100;
}

div.fs-banner video {
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
}

div.row.text-center {
    padding-top : 20px;
}

.btn-call:hover {
    background : #fff;
    color : white;
    border-color : #59b75c;
    outline : none;
    color : #59b75c;
}


.btn-call:active, .btn-call:focus {
    background : #fff;
    color : #ec2c36;
    border-color : #59b75c;
    outline : none !important;
    color : #59b75c;
}

/* Toggle Styles */

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

@@media (min-width < 900px) {
    .settings-wrapper {
        display : none;
    }
}

@media (min-aspect-ratio: 16/9) {
    .fs-banner video {
        width : 100%;
        height : auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fs-banner video {
        width : 100%;
        height : auto;
    }
}
