<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 login-content animated fadeIn shadowed">
    <div class="img-wrapper text-left">
        <h3 class="login-h3">Welcome Back!</h3>
    </div>
    <hr class='thicker'>
    <h4 class='login-h4'>Login to the Webrtc Platform</h4>
    <div class="row animated slideInUp login-wrap">
        <div class='input-group login-group'>
            <span class="input-group-addon" id="usernameAddon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control username-input" ng-model="verto.data.name" placeholder="Username"
                   aria-describedby="usernameAddon">
        </div>
        <div class='login-row'>
            <button class='btn btn-login' ng-disabled="verto.data.name.length < 3" ng-click='login()'><i class="fa fa-sign-in"></i> Login</button>
        </div>
        <hr>
        <p class="help-text">Looking for help or documentation?</p>
        <a class="help-text" href="">Go to this link.</a>
    </div>
</div>
