<div class="modal-title settings-title text-center">
	<h4>Audio Settings</h4>
</div>
<div class="modal-body settings-body">
	<div class="form-group" ng-if="verto.data.audioDevices">
		<label for="selectedAudio"> Audio Source : </label>
		<select class="form-control" name="selectedAudio"
				ng-options="item as item.label for item in verto.data.audioDevices"
				ng-model="userData.audio">
			<option value="">--Select a new source--</option>
		</select>
	</div>
	<div ng-if="!verto.data.audioDevices">
		<h4>
			Your browser does not support this feature.
		</h4>
	</div>
	<a class="update-settings" href="" ng-if="userData.audio" ng-click="update()">Update</a>
</div>
