<div class='table-wrapper shadowed table-modal'>
    <div class='table-header'>
        <h4 class="ch-header"><i class="fa fa-calendar"></i> Call History</h4>
        <hr class="hrleft">
    </div>
    <div class='table-main' ng-if='callHistory.length'>
        <div class='list-header list-header-modal'>
            <ul>
                <li class='list-data'>
                    Called Number
                </li>
                <li class='list-data'>
                    Start Date
                </li>
                <li class='list-data'>
                    Direction
                </li>
                <li class='list-data'>
                    Actions
                </li>
            </ul>
        </div>
        <div class='list-body list-body-modal'>
            <ul ng-repeat='call in callHistory track by $index'>
                <li class='ch-item text-center'>{{ call.dialedNumber }}</li>
                <li class='ch-item text-center'>{{ call.call_start | amUtc | amDateFormat: 'YYYY.MM.DD
                    hh:mm:ss'}}
                </li>
                <li class='ch-item text-center'>{{ call.direction }}</li>
                <li class='ch-item text-center'><a href="" ng-click="chCall(call.dialedNumber)">Call</a>
                </li>
            </ul>
        </div>
    </div>
</div>