<div class="modal-title settings-title text-center">
	<h4>Speaker Settings</h4>
</div>
<div class="modal-body settings-body">
	<div class="form-group" ng-if="verto.data.speakerDevices">
		<label for="selectedSpeaker"> Speaker Source : </label>
		<select class="form-control" name="selectedSpeaker" ng-options="item as item.label for item in verto.data.speakerDevices" ng-model="userData.speaker">
			<option value="">--Select a new source--</option>
		</select>
	</div>
	<div ng-if="!verto.data.speakerDevices">
		<h4>Your browser does not support this feature.</h4>
	</div>
	<a class="update-settings" href="" ng-if="userData.speaker" ng-click="update()">Update</a>
</div>
