<div class="incall-content">
    <div class="incall-mask"></div>
    <div class="animated fadeIn incall-display">
        <button class="btn incall-opt mute" ng-click="muteMic(cbMuteMic)"><i class="fa" ng-class="{'fa-microphone-slash' : storage.data.mutedMic, 'fa-microphone' : !storage.data.mutedMic }"></i></button>
        <button class="btn incall-opt toggle" ng-click="showMinipad()"><i class="fa fa-th"></i></button>
        <div class="incall-box">
            <p class="incall-text" style="font-size : 2em;"><i class="fa fa-user" style="margin-right:7px;"></i>{{verto.data.name}}</p>
            <div class="loader-box" style="height:106px;">
                <div id="loader-div" ng-class="{'loader incall': verto.data.callState != active, 'fa fa-5x fa-check-circle-o green': verto.data.callState == active}"></div>
            </div>
            <p class="phonenumber">{{storage.data.called_number | phoneFilter}}</p>
        </div>
        <div class="incall-info">
            <div class="status-box text-center">
                <p class="incall-text" ng-show="storage.data.calling">Status: <span style="color:red; font-weight: 600;">Dialing</span></p>
                <p class="incall-text" ng-show="!storage.data.calling">Status: <span style="color:green; font-weight: 600;">Bridged</span></p>
            </div>
            <div class="timer-box text-center">
                <timer start-time="start_time" auto-start="false" interval="1000">
                    {{hhours}}:{{mminutes}}:{{sseconds}}
                </timer>
            </div>
            <div class="incall-btn">
                <button class="btn btn-block btn-incall hangup" ng-click="hangup()">Hang Up</button>
                <button class="btn btn-block btn-incall hold" ng-click="hold()">Hold Call</button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="minipad.tmpl.html">
    <div class="minipad">
        <div class="minipad-header">
            <input name="incall-dtmf" type="text" class="form-control text-center" ng-model="dialpadNumber" autofocus/>
            <a href="" ng-click="backspace()" class="backspace">
                <i class="fa fa-2x fa-arrow-circle-o-left"></i>
            </a>
        </div>
        <div class="minipad-body">
            <div class="minipad-group">
                <a class="btn btn-mp" ng-click="dtmf(1)">
                    <h4 class="mp-number">1</h4>
                    <span class="mp-text">./@</span>
                </a>
                <a class="btn btn-mp" ng-click="dtmf(2)">
                    <h4 class="mp-number">2</h4>
                    <span class="mp-text">ABC</span>
                </a>
                <a class="btn btn-mp" ng-click="dtmf(3)">
                    <h4 class="mp-number">3</h4>
                    <span class="mp-text">DEF</span>
                </a>
            </div>
            <div class="minipad-group">
                <a class="btn btn-mp" ng-click="dtmf(4)">
                    <h4 class="mp-number">4</h4>
                    <span class="mp-text">GHI</span>
                </a>
                <a class="btn btn-mp" ng-click="dtmf(5)">
                    <h4 class="mp-number">5</h4>
                    <span class="mp-text">JKL</span>
                </a>
                <a class="btn btn-mp" ng-click="dtmf(6)">
                    <h4 class="mp-number">6</h4>
                    <span class="mp-text">MNO</span>
                </a>
            </div>
            <div class="minipad-group">
                <a class="btn btn-mp" ng-click="dtmf(7)">
                    <h4 class="mp-number">7</h4>
                    <span class="mp-text">PQRS</span>
                </a>
                <a class="btn btn-mp" ng-click="dtmf(8)">
                    <h4 class="mp-number">8</h4>
                    <span class="mp-text">TUV</span>
                </a>
                <a class="btn btn-mp" ng-click="dtmf(9)">
                    <h4 class="mp-number">9</h4>
                    <span class="mp-text">WXYZ</span>
                </a>
            </div>
            <div class="minipad-group">
                <a class="btn btn-mp" ng-click="dtmf('*')">
                    <h4 class="mp-number">*</h4>
                    <span class="mp-text">---</span>
                </a>
                <a class="btn btn-mp" ng-click="dtmf(0)">
                    <h4 class="mp-number">0</h4>
                    <span class="mp-text">+</span>
                </a>
                <a class="btn btn-mp" ng-click="dtmf('#')">
                    <h4 class="mp-number">#</h4>
                    <span class="mp-text">---</span>
                </a>
            </div>
        </div>
    </div>
</script>

