html {
    height: 0;
    width: 0;
}

* {
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4 {
    margin: 0;
}

.incall-number {
    margin: 0;
}

body {
    height: auto;
    width: 240px;
    padding: 0;
    margin: 0;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    outline: none !important;
}


.btn-login {
    display: inline-block;
}

.help-block {
    display: inline-block;
    margin: 0;
}

.help-block > p {
    font-size: 0.8em;
}

.form-group {
    margin: 0;
}

.banner-img {
    width: 70%;
    height: 50%;
}

.login-banner {
    margin-bottom: 8px;
}

.shadowed {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.widget-container {
    padding: 8px;
    height: inherit;
    width: inherit;
}

.login-content {
    background: white;
}

.input-group {
    margin-bottom: 8px;
}

.dialpad-row::after,
.timer-row::after{
    content: "";
    display: block;
    clear: both;
}

.btn-dialer {
    float: left;
    width: 33.33%;
}

.dialpad-input-row {
    position: relative;
}

.incall-col {
    border: 3px solid #eee;
    padding: 4px;
    margin-bottom: 8px;
}

.dialpad-input-row > input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-backspace {
    position: absolute;
    right: 5px;
    font-size: 1.3em;
    top: 0;
    padding: 0;
    height: 34px;
}

.btn-backspace > i {
    line-height: 34px;
}

timer > span,
.incall-number{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}
